@charset "UTF-8";
 
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body {
    font-family:  'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
    color: #444;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.wrapper.silk {
    background-color: #f8f8f8;
}

.app-header {
    padding: 10px 0 0 0;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eee;
}
 
.app-header img.app-icon {
	margin-top:20px;
	width:60px;
 	height : auto;
	border:2px solid #ccc;
	border-radius: 12px;    
	display: block;
	margin-right: auto;
	margin-left: auto;
}
 
.app-header h1 {
	margin-top : 10px;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}
 
.app-header p {
	font-size: 20px;
}

.share-area {
	padding: 10px 0;
}

.other-content {
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.other-content p {
    margin-bottom: 0.5rem;
}


.footer p.copyright {
	margin-top : 30px;	
}

div.store-link {
	padding : 10px 0 30px;	
}


.image-area .back-image {
    background-image: url(img/ipad-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
	position: relative;
}

.image-area .app-main-image {
    background-image: url(img/app2_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 500px;
    max-height: 600px;
	position: relative;
}

.image-area .check-app-image {
    background-image: url(img/iphone-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}


.gif-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 78%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gif-image.move {
    background-image: url(img/map-circle-move.gif);
}

.gif-image.layout {
    background-image: url(img/map-circle-layout.gif);
}

.gif-image.save {
    background-image: url(img/map-circle-save.gif);
}

.app-desc {
    padding: 30px 0 0 0;
    display: table;
    height: 400px;
}

.app-desc > .inner {
    display:table-cell;
    vertical-align: middle;
}


@media (max-width: 768px) {	
    
    .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .app-desc {
        padding: 10px 0 0 0;
        height: auto;
    }
    .image-area .app-main-image {
        min-height: 400px;
        max-height: 400px;
    }
}

@media (min-width: 768px) {
	.app-header img.app-icon {
		margin-top:60px;
		width:80px;
		border-radius: 15px; 
		display : inline;
	}
	.app-header h1 {
		font-size: 60px;
	}
}

@media (min-width: 992px) {
	.app-header .title-area {
		padding-left : 80px;
	}
	.app-header .image-area {
		padding-right : 50px;
	}
}
@media (min-width: 1200px) {
	.app-header .title-area {
		padding-left : 170px;
	}
	.app-header .image-area {
		padding-right : 150px;
	}
}
