@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

$textColor : #333;

body {
	font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
	color: $textColor;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	
	&.green {
		background-color: #59b799;
	}	
	&.silk {
		background-color: #f8f8f8;
	}
	
	&.footer {
		background-color: #efefef;
		
		img.app-icon {
			margin-top: 40px;
			margin-bottom: 4px;
			width: 90px;
			height : auto;
			border-radius: 12px;    
		}
	}
}

.app-header {
	color: white;
	img {
		&.app-icon {
			margin-top: 20px;
			margin-bottom: 4px;
			width: 80px;
			height: auto;
			border: 1 px solid #ccc;
			border-radius: 12px;
			display: block;
		}
	}
	
	.desc {
		line-height: 100%;
	}
	
	.recomend {
		font-size: 1.25rem;
		margin-bottom: 0;
	}
	
	.share-area {
		padding: 10px 0 0 20px;
	}
}

.text-area {
	padding-left: 20px;
}

.image-area{
	position: relative;
	.back-image {
		background-image: url(img/iphone-back.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 500px;
	}
}

.app-image {
	position: absolute;
	height: 362px;
	margin: auto;
	top: 8px;
	bottom: 0;
	left: -3px;
	right: 0;
}

.app-desc {
	padding: 30px 0 0 0;
	display: table;
	height: 500px;
	> .inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.support {
	padding-top: 2em;
}

$small: "(max-width: 47.9em)";

@media #{$small} {
	.container {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.app-header {
		img {
			&.app-icon {
				width: 60px;
				border-radius: 15px; 
				margin: 0 auto 4px;
			}
		}
		.desc {
			padding-left: 0;
		}
		.share-area {
			padding: 10px 0 0 0;
			text-align: center;
		}
		.text-area {
			padding-left: 0;
		}
	}
	
	.app-desc {
		padding: 5px 0 0 0;
		height: auto;
		margin: auto;
	}
}
